*{
    margin:0px;
    padding:0px;
    z-index: 0px;
}
  body
  {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  }
  
#logo
{
text-decoration-line: none;
padding-left: 2%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 25px;
background-color: aliceblue;
border-style: solid;
border-width: 2px 2px 2px 0px;
}
  
  .nav-bar
  {
      width: 100%;
      height: 80px;
     /* background: rgb(131,58,180);
      background: linear-gradient(199deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%); */   
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: #33333345 2px 2px 2px;
  }
  
  
  .Search-bar-div
  {
      height: 40px;
      border-radius: 40px;
      display: flex;
      justify-self: center;
  }
  
  .button
  {
      width:40px;
      height:35px;
      border-width: 0px;
      border-radius: 100%;
      background: url(./icons/magnifying-glass-solid.svg);
      background-repeat: no-repeat;
      background-color: rgb(255, 255, 255);
      background-size: 60%;
      background-position: center;
      margin-left: 2px;
      transition: 0.4s;
  }
  #Search-bar
  {
      border-style: inset;
      height:35px;
      width: 0;
      border-radius: 20px;
      border-width: 0px;
      border-color: #746f6f;
      float:left;
      outline: none;
      transition: 0.4s;
      background-color: rgb(255, 255, 255);
      font-size: 15px;
      color: #333333;
      width: 400px;
      text-align: center;
      box-shadow: 1px 1px 4px #afafaf,-1px -1px 4px #afafaf;
  }

  .Search-bar-div:hover > #Search-bar
  {
       width: 500px;
       font-size: large;
  }
  .Search-bar-div:hover > #Search-button
  {
     background-color: none;   
  }
  #menu__items
  {
      text-decoration: none;
      font-size: large;
      display: flex;       
  }
  
 .log-in-up-button
 {
   height: fit-content;
   width: fit-content;
   padding: 8px 20px;
   border-radius:20px;
   border-width:0px;
   font-size:15px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
   border-width: 1px;
   border-color: rgba(80, 62, 184, 0.856);
   font-weight:700;
   color: aliceblue;
   background-color: rgba(92, 89, 255, 0.849);
   box-shadow: 2px 2px 5px #333333;
   margin: 5px;
   transition-duration:0.6s;
}
#sign-up
{
    background-color: aliceblue;
    color: rgba(92, 89, 255, 0.966);
}
#sign-up:hover
{
    background-color: rgba(92, 89, 255, 0.849);
    color: aliceblue;
}
#log-in:hover
{
    background-color:  aliceblue;
    color:rgba(92, 89, 255, 0.849);
}
#add-to-the-cart-icon-butto{
    width: 30px;
    height: 30px;
    background-image: url(./icons/shopping-cart\ \(1\).png);
    background-position: 0%;
    background-repeat:no-repeat;
    background-size: 75%;
    justify-self: center;
    align-self: center;
}
#cont-button-reu-itmes-data-produtcs{
    display: flex;
    justify-content: center;
}
#cont-cart-elemnts-div{

    overflow-y: scroll;
    overflow-x: hidden;
    position:absolute;
    right: 100px;
    margin-top: 5%;
    width: 30%;
    height: fit-content;
    border-width: 1px;
    border-radius:5px;
    background-color: #f3f3f3f5;
    z-index: 1;
    box-shadow: #828181 1px 1px 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 700px;
    transition-duration: 0.4s;
}
#cont-cart-elemnts-div::-webkit-scrollbar-thumb{
 border-radius: 10px;
}
.cart-itme-elment-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-style:inset;
    border-width: 0.5px 0px 0px 0px;    
}
#no-res-mess-cart{
    width: 100%;
    height: 100%;
    color: #828181;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    height: 50%;
    padding: 10px;
}
.cart-item-image-div{
  width: 100px;
  height: 100px;
  overflow: hidden;

}
.cart-item-image{
    width: auto;
    height: 100px;
}
.cart-item-title{
    
    height: 50px;
    width: 200px;
    overflow: hidden;
    padding: 10px;
    color: rgb(37, 37, 37);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}
.contener-qunt-edite-title-div{
    width: fit-content;
    justify-content: center;
    height: fit-content;
    background-color: rgb(243, 243, 243);
}
.cont-qunt-edit-div{
    padding: 10px;
}
.inc-cart-qunt-but{
    width:18px;
    height: 18px;
    border-radius: 100%;
    background-color: rgb(91, 194, 43);   
    color: white;
    border-width: 0px;
    transition-duration: 0.4s;
}
.dec-cart-qunt-but{
    width:18px;
    height: 18px;
    border-radius: 100%;
    border-width: 0px;  
    background-color: rgb(216, 43, 43);
    color: white;
    transition-duration: 0.4s; 
}
.dec-cart-qunt-but:hover{
    width:20px;
    height: 20px;
    box-shadow: #828181 2px 2px 2px;
}
.inc-cart-qunt-but:hover{
    width:20px;
    height: 20px;
    box-shadow: #828181 2px 2px 2px;
}

.quntity-input-field{
    width:40px;
    height: 25px;
    border-width: 0px;
    border-radius: 5px;
    text-align: right;
    transition-duration: 0.5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #746f6f;
}
.price-item-cart{
    color: #289e28;
    font-size:0.87em;
    margin-left: 40px;
}
.price-remove-button{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.remo-item-button{
    margin: 0px 0px 0px 0px;
    padding: 10px;
    border-radius:10px;
    background-color: rgb(221, 48, 48);
    color: white;
    border-width: 0px;
    font-weight: 600;
    width: 75px;
}
.save-item-button{
    margin: 6px 0px 0px 0px;
    padding: 10px;
    border-radius:10px;
    background-color: rgb(61, 202, 61);
    color: white;
    border-width: 0px;
    font-weight: 600;
    width: 75px;
}
.purchase-class-name{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #0e0e0e;
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    border-width:0px;
    margin-top: 10px;
    font-size: 0.9em;
    transition-duration: 0.5s;
}
.purchase-class-name:hover{
    box-shadow: #000000 5px 5px 5px;
    font-size: 1em;
}
#search-resu-div-nav
{
    z-index: 1;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3%;
    position:absolute;
    border-width:0.5px;
    width: 400px;
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition-duration: 0.6s;
    box-shadow: #746f6f 1px 1px 10px;
}
#Search-bar:focus 
{
  border-color: #ad3fc9;
  border-style:inset;
  border-width: 2px;
}

#Search-bar:focus > #search-resu-div-nav
{
    visibility:visible;
}

.sear-resu-div{
    
    padding: 5px;
    border-width:1;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    border-color: #0e0e0e;
    text-align: center;
    transition-duration: 0.4ms;
    display: flex;
    flex-wrap:wrap;
}
.sear-res-image-div{
    
    background-position: 0%;
    background-repeat:no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.sear-name-p{
    width: 60%;
    height: 50%;
    text-decoration: none;
    color: rgb(38, 38, 38);
    overflow: hidden;
}
.product-rate-div-search{
    width: 75%;
    height: 20px;
}
.price-res-search{
    color: rgb(11, 128, 11);
    height: 20%;
    width: 12%;
}

#cont-pages-nav-bar-div{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow:#7c7c7c 1px 1px 6px;
    border-width: 0px;   
}

  @media only screen and (max-width: 600px)
  {

    .nav-bar
    {
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;
        background: linear-gradient(199deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 100%, rgba(252,176,69,1) 100%);    display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: #33333345 2px 5px 25px;
    }
  
  .Search-bar-div
  {
      height: fit-content;
    }
    .button
    {
        width:40px;
        height:35px;
        border-width: 0px;
        border-radius: 100%;
        background: url(./icons/magnifying-glass-solid.svg);
        background-repeat: no-repeat;
        background-color: rgb(255, 255, 255);
        background-size: 60%;
        background-position: center;
        margin-left: 2px;
        transition: 0.4s;
    }
  #Search-bar
  {
      height:30px;
      width: 100px;
      border-radius: 20px;
      outline: none;
      transition: 0.4s;
      background-color: rgb(255, 255, 255);
      border-bottom: 10px;
      font-size: 15px;
      color: #333333;
      width: 200px;
      text-align: center;
    }
      
.log-in-up-button
 {
   visibility: hidden;
   display: none; 
 }
 .Search-bar-div:hover > #Search-bar
 {
      width: 100%;
      font-size: large;
 }
 .Search-bar-div:hover > #Search-button
 {
    background-color: none;   
 }
 #search-resu-div-nav
 {   
    width: 200px;
 }
 .cart-itme-elment-div{
  flex-wrap: nowrap;   
}

#cont-cart-elemnts-div{
 width:100%;
 right:0px;
 left: 0px;
 top:100px;      
}

}
